{% extends 'blog/base.html' %}
{% load static %}

{% block title %} MY PROFILE {% endblock %}

{% block content %}
<h1 class = "pro_heading"> MY PROFILE</h1>
<hr>
<div class = "info">
    <p>Name: {{user.username}}</p>
    <p>E-mail: {{user.email}}</p>
    <h2 class="pro_recipes">My Recipes</h2>
    <div class = "my_recipes">
        <ul class = "my_recipes">
            {% for recipe in my_recipe_list %}
            <li><a href = "{% url 'blog:edit' recipe.id %}">{{recipe.recipe_name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <h3 class = "change_password">Change Password</h3>
    <div class="change_pass">
    <form action = "{% url 'blog:changepassword' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value= "Change password">
    </form>
    </div>
</div>
<script src="{% static 'blog/match.js' %}"></script>
{% endblock %}
