@font-face{
    font-family: BarFont;
    src: url(font/iCielNougatScript-ExtraBold.otf);
}

@font-face{
    font-family: ListFont;
    src: url(font/Cucho\ Bold.otf);
}

@font-face{
    font-family: TitleFont;
    src: url(font/Helena.ttf);
}

@font-face{
    font-family: BodyFont;
    src: url(font/iCiel\ Altus\ Serif.ttf);
}

@font-face{
    font-family: FormFont;
    src: url(font/iCiel\ Grandma\ Bold.otf);
}

div.navbar {
    display: flex; /* show like a table */
    flex-direction: row;
    background-color: skyblue;
    justify-content: space-evenly;
}
div.navbar span{
    display: inline-flex;
    height: 50px;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: BarFont;
    color: darkblue;
}
div.navbar span:hover {
    background-color: plum;
    cursor: pointer;
}

li a{
    display: inline-block;
    color: whitesmoke;
    font-size: xx-large;
    text-decoration: none;
    margin: 5px 20px;
    height: 100px;
    width: auto;
    
}
.recipe_list{
    display: flex;
    list-style: "\2764";
    color: #ffffff;
    font-family: ListFont;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-position: inside;
}

.recipe_list li{
    margin: 5px 50px;
}

.recipe_title{
    text-align: center;
    color: whitesmoke;
    font-family: TitleFont;
    font-size: 5em;
}
.ingredient_title, .instruction_title{
    text-align: left;
    color: whitesmoke;
    font-family: BodyFont;
    font-size: 3em;
    font-style: bold;
    margin: 20px;
}
.ingredient_list{
    text-align: left;
    background-color: royalblue;
    color: powderblue;
    font-family: BodyFont;
    font-size: 2em;
    list-style: square;
    margin: 20px;
}

.instruction_list{
    text-align: left;
    background-color: powderblue;
    color: darkblue;
    font-family: BodyFont;
    font-size: 2em;
    margin: 20px;
}

.author{
    text-align: center;
    color:  whitesmoke;
    font-family: BodyFont;
    font-size: 2em;
}

div.messages{
    display: flex;
    justify-content: center;
}
 
ul.messages{
    background-color: plum;
    font-family: BodyFont;
    font-size: 2em;
    list-style: none;
    padding: 10px 30px 10px 30px;
    border: thick solid purple;
}

.login, .reg_form_big{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login a, .reg_form_big a{
    font-family: FormFont;
    font-size: 2em;
    color:white;
}

.form, .reg_form {
    font-family: FormFont;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    width: 30ch;
    margin: 10px;
    padding: 2px;
    color: white;
}

.form input, .reg_form input{
    margin-bottom: 1em;
    line-height: 1em;
    font-size: 1em;
    font-family: BodyFont;
}
body{
    background-color: cornflowerblue;
    margin: 0;
}

.reg_heading {
    text-align: center;
    font-family: BarFont;
    color: white;
    font-size: 2em;
}
.pro_heading{
    text-align: left;
    font-family: BodyFont;
    font-style: bold;
    color: whitesmoke;
    font-size: 3em;
    margin: 10px;
}
div.info {
    display: flex;
    margin: 5px;
    flex-direction: column;
    color: whitesmoke;
    font-family: BodyFont;
    font-size: large;
}
div.info p{
    margin: 0;
    padding: 0;
    font-size: 1.5em
}

div.info form{
    font-size: 1.5em;
}

div.info form input[type="submit"]{
    width: 20ch;
    font-family: BodyFont;
    font-size: large;
}

div.info h2, div.info h3{
    font-size: 1.5em;
    margin-bottom: 3px;
    text-decoration: underline;
}

div.my_recipes ul{
    margin: 1px;
}

div.my_recipes a{
    margin: 0;
    height: auto;
}